<div *ngIf="showForms">
  <div id="backdrop"></div>
  <div class="container" >
    <button id="overlay" (click)="hideForm()">X</button>
    <h2>Donor Registration</h2>
    <form [formGroup]="RegistrationForm" (ngSubmit)="addDonor()">

      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" >
        <p *ngIf="RegistrationForm.get('name').hasError('required') && RegistrationForm.get('name').touched" class="error">*Name is required</p>
      </div>

      <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" id="age" formControlName="age" required>
        <p *ngIf="RegistrationForm.get('age')?.touched && RegistrationForm.get('age').hasError('required')" class="error">*Age is required</p>
      
        <p *ngIf="RegistrationForm.get('age')?.touched && RegistrationForm.get('age').hasError('min') " class="error" >Age must be greater than 18</p>

        <p *ngIf="RegistrationForm.get('age').hasError('pattern') || RegistrationForm.get('age').hasError('max')" class="error">Please enter a valid age</p>
        
      </div>

      <div class="form-group">
        <label for="blood_group">Blood Group:</label>
        <input type="text" id="blood_group" formControlName="blood_group" required>
        <p *ngIf="RegistrationForm.get('blood_group')?.touched && RegistrationForm.get('blood_group').hasError('required')" class="error">*Blood group is required</p>
      </div>

      <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" id="address" formControlName="address">
      </div>

      <div class="form-group">
        <label for="contact">Contact:</label>
        <input type="text" id="contact" formControlName="contact" >
        <p *ngIf="RegistrationForm.get('contact').hasError('pattern')" class="error">*Please enter valid 10 Digit Number</p>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn" [disabled]="RegistrationForm.invalid">Register</button>
      </div>
    </form>
  </div>
</div>