header {
    background-color: black;
    color: yellow;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    width: 100%;
}

h1 {
    font-size: 50px;
    font-family: Young Serif;
    font-weight: bold;
    /* position: absolute; */
    left: 10px;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

button{
    position: absolute;
    margin: 5px 30px;
    right: 10px; /* Adjust the right margin as needed */
    padding: 10px;
    font-weight: bold;
}

button:hover{
    background-color: rgb(188, 188, 188);
    color: black;
}